body {
    margin: 0pt;
}

table, td {
    padding: 0pt;
}

/*.d0, .s0 {-webkit-appearance: none; outline:none; border: solid 0 #fff; text-align:center; margin:0; width:24pt;}
.s0 {font-size:18pt; font-family:times,"times new roman",serif; color:#000000;}
.d0 {font-size:16pt; font-family:"lucida handwriting","comic sans ms",cursive; color:#7777DD;}*/

.numBtn {
    width: 20pt;
    height: 25pt;
    vertical-align: middle;
    text-align: center;
    font-size: 18pt;
    font-family: times,sans-serif;
    border: #666699 solid 2px;
    cursor: pointer;
}

.t {
    border-collapse: collapse;
    background-color: #FFFFFF;
    border-right: #666699 solid 2px;
}

.c0, .e0, .f0, .g0, .h0, .i0 {
    width: 24pt;
    height: 25pt;
    vertical-align: middle;
    text-align: center;
    font-size: 18pt;
    font-family: times,serif;
    border-left: #DDDDEE solid 1px;
    border-top: #DDDDEE solid 1px;
    cursor: pointer;
}

.e0, .g0, .i0 {
    border-left: #666699 solid 2px;
}

.f0, .g0 {
    border-top: #666699 solid 2px;
}

.h0, .i0 {
    border-bottom: #666699 solid 2px;
}
